// Navigation Styles here

.navContainer {
  margin: 50px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed @navigation-border;

  h1 {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } // This closes h1

  .logo {
    margin: 30px;
  }

  .links {
    justify-content: space-between;
  }
} // This closes .navContainer
